.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:40%;
    padding: 20px;
    background-color: yellow;
    /* margin: 10px; */
    border-radius: 10px;
}

.right__part{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.single_todo__text{
    flex:1;
    padding: 5px;
}

@media (max-width: 700px) {
    .form {
        width:90%;
    }
}

.input {
    /* padding: 5px; */
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
}